Copyright &copy; {{ partial "copyright-years.html" . }} <b>{{ .Site.Title }}</b>. All rights reserved. 字ちゃん mascot art by <a href="https://twitter.com/bellumela" target="_blank">@bellumela</a>.<br>
Site last regenerated with <a href="https://gohugo.io/" target="_blank">Hugo</a> at {{ partial "time.html" (dict "Date" now) }}.
